<div class="container pa1">
  <h3 class="postList-title" style="margin:0"><a href='{{post.url}}'>{{ post.data.title}}</a></h3>
  <div class="postList-date">{{ post.date | formatPostDate }}
    <span aria-hidden="true">⋅</span>
    {%-  for tag in post.data.tags -%}
      {%- if tag != "post" -%}
        <span> {{ tag }}</span>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {% excerpt post %}
</div>