---
layout: "base.njk"
pageName: "Blog"
description: A chennai based computer architecture and parallel processing enthusiast who is also interested in web dev. I write about my thoughts and learnings in my blog.
metatitle: Blog | Karthik Ganeshram
includedScripts: [https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js, https://www.gstatic.com/firebasejs/8.6.2/firebase-messaging.js, firebase]
---
{% if containsPagination%}
	{% set paginationData = tag.pageData %}
	{% set previousURL = tag.previous %}
	{% set nextURL = tag.next %}
	{% set currentPageNumber = tag.pageNumber %}
	{% set numberOfPages = tag.last + 1 %}
	{% set numberOfPosts = collections[tag.tagName].length %}
	{% set content = '<h2> ' + numberOfPosts + ' posts tagged \"' + tag.tagName + '\"</h2>' %}
	{% set partUrl = "/blog/tags/" + tag
		.tagName
		.toLowerCase() + "/" %}
	{% set hrefs = [] %}
	{% for i in range(0, numberOfPages) %}
		{% set hrefs = (hrefs.push(partUrl + i), hrefs)%}
	{% endfor %}
{% else %}
	{% set paginationData = pagination.items %}
	{% set previousURL = pagination.href.previous %}
	{% set nextURL = pagination.href.next %}
	{% set currentPageNumber = pagination.pageNumber %}
	{% set numberOfPages = pagination.hrefs.length %}
	{% set hrefs = pagination.hrefs %}
{% endif %}

{{href}}

<div class="columns w-100 justify-center pa1">
	<div class="column col-10 col-sm-12">
		<div class="w-100 pageTitle tc">
			{{content | safe}}
		</div>
		<div class="column col-12" style="padding:0;">
			
		</div>
		<div class="columns flex-columns" style="justify-content:center">
			<div class="column col-9 col-md-12 post-content" style="padding:0;">
				<div class="container w-100">
					<div class="columns" style="padding:0.5rem;justify-content:space-between">
						<div class="column col-8 col-md-12">
							{%- for post in paginationData -%}
								{% include "postList.njk" %}
							{%- endfor -%}
						</div>
						<div class="column col-3 col-md-12">
							{% include "tagChip.njk" %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'pagination.njk' %}
	</div>
</div>