---
layout: base.njk
---
<div class="columns  justify-center items-center">
	<div class="column col-6 col-md-12">
		<h2 class="w-100 pageTitle tc">{{title}}</h2>
		<div class="pa2 pageContent">
			{{content | safe}}
		</div>
	</div>
</div>